@import 'tailwindcss';

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@layer base {
    @apply font-sans antialiased;
}

html,
body {
    overscroll-behavior: none;
    touch-action: manipulation;
    overflow-x: hidden;
}
